body {
    margin: 0;
    cursor: url('images/flash.png'), auto;
 }
 
.admin{
    height: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: right bottom;
    margin-bottom: 25px;
}

.admin h2{
margin-left: 75px;
color: white;
margin-right: 25%;
}

.admin a{
color: white;
font-size: 1.2em;
font-weight: bold;
margin-right: 50px;
}

.admin .chat img{
width: 60px;
height: auto;
border: 4px solid black;
border-radius: 100%;
}

.admin img{
width: 150px;
height: 150px;
margin-right: 50px;
border: 5px solid black;
border-radius: 100%;
}

.ul1{
margin-top: 25px;
margin: 0px auto;
width: 75%;
}

li{
display: flex;
justify-content: space-between;
align-items: center;
list-style: none;
margin-top: 15px;
font-size: 1.7em;
padding: 8px;
border: 2px solid gray;
border-radius: 25px;
}

.es{
margin-right: 25px;
}

.supp{
margin-left: 25px;
}

.add{
margin-left: 86%;
}

.logo{
margin-top: 25px;
margin-left: 45%;
width: 150px;
height: auto;
}

.form_connect{
margin-top: 100px;
background-color:#fff;
width: 400px;
height: 400px;
padding: 30px;
text-align: center;
margin-left: 240px;
margin-right: 250px;
}

.form_connect input{
margin: 10px 0;
padding: 6px;
border-radius:6px;
border: 1px solid #999;
margin-top: 20px;
}

.form_connect input[type='submit']{
margin-top: 20px;
margin-bottom: 30px;
background-color:rgb(255, 119, 0);
color: #fff;
width: 100%;
}

.form_connect h2{
font-size: 2em;
margin-bottom: 50px;
}

.btn_connexion{
font-size: 1em;
font-weight: lighter;
padding: 2px 80px;
background: whitesmoke;
outline: none;
border: none;
cursor: pointer;
border-radius: 20px ;
position: relative;
box-shadow: 0 6px red ;
}
  
.btn_connexion:hover{
box-shadow: 0 4px red;
top: 2px;
}
  
.btn_connexion:active{
box-shadow: 0 0px red;
top: 6px;
}

.container {
display: flex;
height: 745px;
}

.pic{
flex: 1;
background-image: url('images/background.jpg');
background-size: cover;
background-position: center;
}

.welcom{
font-size: 2em;
font-weight: bold;
color: white;
text-align: center;
margin-top: 300px;
text-shadow: 10px 10px 10px black;
}

.logo2{
margin-top: 25px;
width: 125px;
height: auto;
}


.form_reg{
margin-top: 0px;
background-color:#fff;
width: 500px;
height: 400px;
padding: 0px;
text-align: center;
margin-left: 200px;
margin-right: 250px;
}

.form_reg input{
margin: 0 0;
padding: 4px;
border-radius:6px;
border: 1px solid #999;
margin-top: 10px;
}
    
.form_reg input[type='submit']{
margin-top: 20px;
margin-bottom: 30px;
background-color:rgb(255, 119, 0);
color: #fff;
width: 100%;
}
    
.form_reg h2{
font-size: 1.8em;
margin-bottom: 30px;
}

.logo3{
margin-top: 25px;
width: 100px;
height: auto;
}

.erreur{
color: red;
font-weight: bold;
}